.preview {
  margin: 0 10px 25px 0;
}

.preview__image {
  cursor: pointer;
}

.preview__details,
.preview__price,
.preview__adress {
  max-width: 240px;
  hyphens: auto;
  word-wrap: break-word;
  line-height: 22px;
}

.link {
  text-decoration: none;
}

.preview__adress {
  color: #8f8f8f;
  font-size: 14px;
  line-height: normal;
}

.preview__details .link {
  color: #01aaff;
  font-weight: bold;
  cursor: pointer;
}

.preview__price .link {
  font-weight: bold;
  color: black;
}
